# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# OSX files
.DS_Store

# Android Studio
*.iml
.idea

# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties
keystore.properties

# Log Files
*.log
